body {
	padding: 0px;
	background-color: white;
}
.header {
	width: 100%;
	background-color: #F5F5F5;
	border-bottom: 1px solid #E5E5E5;
	position: relative;
}
.header_title {
	display: inline-block;
	vertical-align: middle;
	margin: 10px 40px 10px 40px;
}
.header_search {
	display: inline-block;
}
#content {
	padding: 10px;
}

/*  */
.title {
	color: #333;
	font-size: 24px;
}
/* 未訪問時待機 */
.title:link {
	color: #333;
	text-decoration: none;
}
/* 訪問済み待機 */
.title:visited {
	color: #333;
	text-decoration: none;
}
/* 選択時 */
.title:hover {
	opacity: 0.8;
}

.display{ display: inline; }
.display-sm{ display: none; }
@media screen and (max-width: 480px) {
	.display{ display: none; }
	.display-sm{ display: inline; }
}