body {
	margin: 0;
	padding: 0;
	background-color: #C77E4F;
	height: 100%;
}
#container {
	position: relative;
	height: auto !important;
	height: 100%;
	min-height: 100%;
}

#content {
	background-color: #CFA68B;
	width: 540px;
	padding-bottom: 40px;
}
.content-text {
	color: #3F0000;
	text-align: left;
	padding-left: 5%;
	padding-right: 5%;
}
.content-text h2 {
	text-decoration: underline #3F0000;
}
.content-text .stat {
	padding: 3px 0px;
	width: 100%;
	background-color: black;
	border: 2px solid gray;
}
.content-text .stat span {
	color: white;
	font-size: 14px;
	text-shadow: 1px 1px 1px gray;
	padding-left: 10px;
	padding-right: 5px;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30px;
	background-color: #b9b9b9;
}
#footer p {
	padding-right: 3%;
	font-size: 10px;
	text-align: right;
	vertical-align: 50%;
}

.head {}
.icon {
	margin: 5;
	width: 128px;
	border: 5px solid #C77E4F;
	border-radius: 12px;
	background-color: #CFA68B;
	box-shadow: 1px 1px 2px #333333;
}
.display {
	margin: 5;
	width: 350px;
	border: 5px solid #C77E4F;
	border-radius: 12px;
	background-color: #CFA68B;
	box-shadow: 1px 1px 2px #333333;
}
.stat-display {
	margin: 2;
	margin-bottom: 10px;
	width: 90px;
	border: 5px solid #C77E4F;
	border-radius: 12px;
	background-color: #CFA68B;
	box-shadow: 1px 1px 2px #333333;
}

